body {
    font-family: 'Malgun Gothic';
    background: url(https://images.wallpaperscraft.ru/image/single/liniya_raznocvetnyy_chernyy_fon_85540_1920x1080.jpg)
}

.wrapper{
    border: 1px solid #b3c297;
    height: 540px;
    width: 318px;
    margin: 0 auto;
    margin-top: 220px;
    border-radius: 3px;
}

.container {
    padding-top: 10px;
    margin: 0 auto;
    height: 518px;
    width: 306px;
    /* margin-top: 220px; */
    background-color:rgba(103, 83, 114, 0.1)
}

.setting {
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    width: 306px;
}

.buttonExit, .buttonSetting, .buttonEntry {
    background: none;
    border: 1px solid #b3c297;
    width: 98px;
    height: 32px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    color:#b3c297;
    transition: 0.05s linear;
    box-sizing:border-box;
    padding-top: 4px;
    font-size: 17px;
    
}



.buttonExit:active, .buttonEntry:active {
    width: 80px;
    height: 28px;
    font-size: 14px;
    transition: 0.05s linear;
    margin-left: 9px;
    margin-right: 9px;
    box-shadow: 0px 0px 5px 2px #9d7ec7;
}


.buttonSetting:active{
    padding-top: 2px;
    width: 80px;
    height: 28px;
    font-size: 14px;
    transition: 0.05s linear;
    margin-left: 9px;
    margin-right: 9px;
    box-shadow: 0px 0px 5px 2px #9d7ec7;
}

.chatSpace {
    overflow-y: auto;  
    /* display: block; */
    display: flex;
    flex-wrap: inherit;
    flex-direction: column-reverse;
    min-height: 437px;
    max-height: 438px;
    width: 304px;
    border: 1px solid #b3c297; 
    box-sizing: border-box;
} 


.messageSending, .messageDelivered{
    text-align: right;
    flex-direction: column;
    display: block;
    min-height: 52px;
    min-width: 139px;
    max-width: 304px;;
    padding-right: 8px;
    margin: 8px 8px;
    background-color:rgb(168, 185, 196);
    border-bottom-left-radius: 1.5em 20%;
}


.messageDelivered{
    text-align: left; 
    background-color:rgb(110, 134, 150);
    padding-left: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 1.5em 20%;
}


.message, .messageNew {
    padding-top: 8px;
}

.timeMessageLeft, .timeMessageNew { 
    padding-bottom: 8px;
    font-size: 14px;
    color: #333333;
    text-align: left;
}

.timeMessageNew{
    text-align: right;
}



.messageSpace {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    width: 306px;
   
}

.inputMessageSpace {
    width: 262px;
    height: 32px;
    border: 1px solid #b3c297;
    box-sizing: border-box;
}

.inputForDelivered {
    width: 225px;
    height: 32px;
    box-sizing: border-box;
    padding-left: 7px;
    border:none;
    outline:none;
    background-color: transparent;
    color: #909e77;
}

.buttonsSpace {
    height: 33px;
}



.buttonForDelivered, .smileButton {
    /* margin-bottom: 118px; */
    width: 29px;
    height: 32px;
    background-color: transparent;
    border: 1px solid #b3c297;
    color: #909e77;
    box-sizing: border-box;
}

.smileButton{
    text-decoration: none;
    border: none;
    padding-bottom: 5px;
}


.buttonForDelivered:active{
    margin-right: 0.41mm;
    margin-top: 0.35mm;
    width: 26px;
    height: 29px;
    font-size: 14px;
    transition: 0.05s linear;
    box-shadow: 0px 0px 5px 2px #9d7ec7;
}




.popupSettings {
    position: fixed;
    width: 273px;
    height: 170px;
    border: 1px solid;
    top: 35%;
    left: 42%;
    background-color: rgba(255, 255, 255, 0.74);
}


.popupBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0 ,0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear;
}

.popupBackground:target {
    opacity: 1;
    visibility: visible;
    transition: 0.2s linear;
}

.popupTop{
    display: flex;
    justify-content: space-between;
    padding: 16px 7px 16px 14px;
    font-size: 16px;
}

.buttonExitPopup {
    width: 14px;
    height: 20.82px;
    border:none
}


.namePopup, .mailPopup {
    padding-left: 14px;
}

.nameSpacePopup{
    width: 245px;
    display: flex;
    justify-content: space-between;
    margin: 8px 14px 0px 14px;
}

.formMailPopup, .formEntryPopup {
    margin-left: 14px;
    width: 245px;
    display: flex;
    flex-direction: column;
}

.inputNamePopup, .inputMailPopup, .inputCodePopup {
    width: 207px;
    height: 32px;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding-left: 8px;
}

.buttonInPopup {
    width: 30px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.buttonInPopup:active{
    margin-right: 0.41mm;
    margin-top: 0.35mm;
    width: 26px;
    height: 29px;
    font-size: 14px;
    transition: 0.05s linear;
    box-shadow: 0px 0px 5px 2px #9d7ec7;
}

.buttonInPopupAuthorization {
    margin-top: 7px;
    width: 120px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #000000;
    transition: 0.05s linear;
}

.buttonInPopupAuthorization:active {
    margin-left: 5px;
    margin-top: 7px;
    width: 110px;
    height: 29px;
    background: #FFFFFF;
    border: 1px solid #000000;
    transition: 0.05s linear;
    box-shadow: 0px 0px 5px 2px #9d7ec7;
}
.popupGettingCode{
    display: block;
    margin-left: 14px;
    margin-top: 7px;
    width: 30px;
    height: 26px;
    text-align: center;
    background: #FFFFFF;
    text-decoration: none;
    box-sizing:border-box;
    border: 1px solid #000000;
    color:#000000;
    transition: 0.05s linear;

}

.popupGettingCode:active{
    margin-left: 16px;
    width: 27px;
    height: 24px;
    transition: 0.05s linear;
    box-shadow: 0px 0px 5px 2px #9d7ec7;
}

.smileSpace{
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 910px;
    margin-top: 590px;
    width: 150px;
    height: 110px;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.smileSpace:target {
     opacity: 1;
     visibility: visible;  
     transition: 0.2s; 
}

.popupSmile {
    position: absolute;
    border: 1px solid #b3c297;
    width: 150px;
    height: 110px;
    color: #b3c297;
    left: 0;
    top: 0;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    background-color: rgba(138, 143, 118, 0.65)
}

.smilesAnimal {
    display: flex;
    justify-content: space-around;
}

a:last-child{
    text-decoration: none;
}

.entryMessage {
    transition: 0.6s linear;
    position: fixed;
    top: -150px;
    left: 43.5%;
    text-align: center;
    width: 250px;
    height: 75px;
    border: 1px solid #b3c297;
    padding-top: 45px;
    font-size: 20px;
    color: white;
    border-radius: 2px;
    background: url(https://krasivosti.pro/uploads/posts/2021-04/1617788023_3-p-koshka-oboi-vsratie-koti-3.jpg) center center/cover no-repeat;
}

.entryMessageShow {
        transition: 0.6s linear;
        position: fixed;
        top: 47px;
        left: 43.5%;
        text-align: center;
        width: 250px;
        height: 75px;
        border: 1px solid #b3c297;
        padding-top: 45px;
        font-size: 20px;
        color: white;
        border-radius: 2px;
        background: url(https://krasivosti.pro/uploads/posts/2021-04/1617788023_3-p-koshka-oboi-vsratie-koti-3.jpg) center center/cover no-repeat;
        transform: rotateX(360deg);
        
}


